body {
    /* color: black; */
    font-family: 'Mulish', 'Inter', 'Playfair Display';
}

@media screen and (max-width: 850px) {
    body {
        text-align: center;
    }

}

@media screen and (max-width: 450px) {
    :root {
        font-size: 12px;
    }
}

.container {
    margin: 0 auto;
    max-width: 1219px;
}

@media screen and (max-width: 1256px) {
    .container {
        padding: 0 40px;
        margin-left: auto;
        margin-right: auto;
    }
}

a {
    text-decoration: none;
    color: #B8BECD;
}

li {
    display: block;
}

button {
    width: 132px;
    height: 48px;

    background: #FB8F1D;
    border-radius: 8px;
    border: 0;
    color: #fff;
    border: 1px solid #FB8F1D;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.125rem;
    letter-spacing: 0.0625rem;
    font-family: 'Playfair Display', serif;
    color: #000000;
}

footer {
    background-color: #F8F8F8;
    height: 195px;
}